### Eclipse ###
#*.pydevproject
#.metadata
.gradle
bin/
tmp/
target/
#*.tmp
#*.bak
#*.swp
#*~.nib
#local.properties
#.settings/
#.loadpath
*.project

### Java ###
*.class

### MAVEN ###
dependency-reduced-pom.xml

# External tool builders
#.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
#*.launch

# Package Files #
#*.jar
#*.war
#*.ear